*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Styling for header section */

header{
    display:flex;
    width:100%;
    padding:20px 15%;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

ul{
    display:flex;
    margin: 0;
    padding:0;
    list-style-type:none;
    color:#E5E7EB;
    
}

ul li{
    margin:5px 10px;
    font-size: 1rem;
}

.logo{
  font-size: 1.4rem;
 color: #E5E7EB;
 font-weight: bolder;
}

/* Top section */

#top-section{
    width:100%;
    background-color: #1F2937;
    padding:80px 15% 80px 15%;
    display:flex;
}

#top-text{
    flex:1;
}

#top-image{
    width:45%;
   border: 1px solid grey;
   margin-left:5%;
}

#hero-text{
    font-size:48px;
    font-weight:bold;
    color:#F9FAF8;
    margin-bottom: 8px;
    /* For margins of span to be respected, you need to make it a block level element */
    display: block;
}

#sub-text{
    font-size: 18px;
    color:#E5E7EB;
    margin-bottom: 8px;
}

#button-top{

    background-color: #3883F6;
    color:white;
    padding:8px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

